{% extends 'config/base.html.j2' %}

{% block config_base %}
<div id="page-sample-plugin" class="config-page">
    {% include '_messages.html.j2' %}

    <p>
    {% trans %}Here you can set up where your persistent data should be stored. If you want to use Nextcloud, LXC or other IO-intensive applications, don't put them on internal flash, but always use external storage. Also, make sure that your data will fit on the new drive before switching.{% endtrans %}
    </p>
    <p>
    {% trans %}Once you choose a drive, it will be formatted to Btrfs filesystem and on next reboot, your <em>/srv</em> (directory where all IO-intensive applications should reside) will get moved to this new drive.{% endtrans %}
    </p>
    <span id="test-results">
    {% if settings['old_uuid'] == 'rootfs' %}
    <p class="result test-fail">
        {% trans old_device_name=settings["old_device_name"], uuid_text='rootfs' %}
        Device currently in use is {{ old_device_name }} ({{ uuid_text }}).
        {% endtrans %}
    </p>
    {% endif %}
    {% if settings['old_uuid'] == 'broken' %}
    <p class="result test-fail">
        {% trans %}
        Your setup is currently broken and you are probably loosing data, set a new storage device as soon as you can!
        {% endtrans %}
    </p>
    {% endif %}
    {% if settings['old_uuid'] != 'broken' and settings['old_uuid'] != 'rootfs'  %}
    <p class="result test-success">
        {% trans old_device_name=settings["old_device_name"], uuid_text='uuid: ' + settings['old_uuid'] %}
        Device currently in use is {{ old_device_name }} ({{ uuid_text }}).
        {% endtrans %}
    </p>
    {% endif %}
    </span>
    {% if settings['formating'] %}
    <p>
    {% trans %}Processing changes at the moment, please wait...{% endtrans %}
    </p>
    {% if settings['state'] %}
    <p>
    <strong>{% trans %}Current status:{% endtrans %}</strong>
    {{ settings['state'] }}
    </p>
    {% endif %}
    {% endif %}
    {% if drives %}
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
    <input type="hidden" name="uuid" value="{{ settings['uuid'] }}">
    <input type="hidden" name="old_uuid" value="{{ settings['old_uuid'] }}">
    <input type="hidden" name="old_device" value="{{ settings['old_device'] }}">
    <table>
        <thead>
            <tr><th></th><th>{% trans %}Device{% endtrans %}</th><th>{% trans %}Description{% endtrans %}</th><th>{% trans %}Filesystem{% endtrans %}</th><th>{% trans %}UUID{% endtrans %}</th></tr>
        </thead>
        <tbody>
            {% for drv in drives %}
            <tr>
            {% if drv['uuid'] == settings['uuid'] and settings['uuid'] %}
            {%    set tr_style='style="background: #00a2e2; color: white;"' %}
            {% else %}
            {%    set tr_style='' %}
            {% endif %}
                <td {{ tr_style }}>
                    {% if drv['uuid'] == settings['uuid'] and settings['uuid'] %}
                    <input type="checkbox" class="disk-checkbox" checked name="{{ drv['dev'] }}"/>
                    {% else %}
                    <input type="checkbox" class="disk-checkbox" name="{{ drv['dev'] }}"/>
                    {% endif %}
                </td>
                <td {{ tr_style }}>{{ drv['dev'] }}</td>
                <td {{ tr_style }}>{{ drv['description'] }}</td>
                <td {{ tr_style }}>{{ drv['fs'] }}</td>
                <td {{ tr_style }}>{{ drv['uuid'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <p>
    {% trans %}Changes to this setting will take effect on next reboot!{% endtrans %}
    </p>
    <button onClick="set_drives();" class="button" style="float:right;">{% trans %}Format &amp; Set{% endtrans %}</button>
    {% elif not settings['formating'] %}
    <p>{% trans %}No drives connected, please connect a drive and refresh the page.{% endtrans %}</p>
    {% endif %}

{% if settings['nextcloud_installed'] %}
<h2>Nextcloud</h2>

<p>{% trans %}Nextcloud puts your data at your fingertips, under your control. Store your documents, calendar, contacts and photos on a server at home.{% endtrans %}</p>

{% if settings['nextcloud_configured']  %}
{% if settings['nextcloud_configuring'] %}
<p>{% trans %}Your configuration process is already running, please wait.{% endtrans %}</p>
{% else %}
<p>{% trans %}You already configured your Nextcloud, you can <a href="/nextcloud/">visit the site</a>.{% endtrans %}</p>
{% endif %}
{% else %}
{% if settings['old_uuid'] == 'broken' or settings['old_uuid'] == 'rootfs'  %}
<p>{% trans %}To setup Nextcloud, please setup external storage first!{% endtrans %}</p>
{% else %}
<p>{% trans %}You still need to configure your Nextcloud, please set your admin credentials bellow:{% endtrans %}</p>
<table>
<tr><td style="background: white;">
{% trans %}Login:{% endtrans %}
</td><td style="background: white;">
    <input id="nextcloud-login" type="text"/><br/>
</td></tr><tr><td style="background: white;">
{% trans %}Password:{% endtrans %}
</td><td style="background: white;">
<input id="nextcloud-pass" type="password"/><br/>
</td></tr><tr><td></td><td style="background: white;">
<input id="setup-nextcloud" class="button" onClick="setup_nextcloud();" type="submit" style="width: 100%;" value="{% trans %}Setup{% endtrans %}"/>
</td></tr>
</table>

{% endif %}
{% endif %}
{% endif %}

</div>

<script>
var csrf_token = '{{ get_csrf_token() }}';
var ajax_url = '{{ url("config_ajax", page_name="storage") }}';

function wait_for_nextcloud() {
    setInterval(function() {
        $.ajax({
           type: "GET",
           url: ajax_url + '?action=get_settings',
           contentType: "application/json; charset=utf-8",
           dataType: "json",
           success: function(data) {
               console.log(data);
               if(!data['nextcloud_configuring'] && data['nextcloud_configured']) {
                   location.reload();
               }
           }
        })
    }, 1000);
}

function setup_nextcloud() {
    $('#setup-nextcloud').prop('disabled', true);
    Foris.SpinnerDisplay('{% trans %}Setting up your Nextcloud, please wait...{% endtrans %}');
    login = $('#nextcloud-login').val()
    pass = $('#nextcloud-pass').val()
    console.log("Setting up Nextcloud with login and password");
	wait_for_nextcloud();

    Foris.performBackendQuery(
        null, "storage", "configure_nextcloud", { credentials: {login: login, password: pass} }
    ).then(function(data) {
        location.reload();
    });
};

function set_drives() {
    if(!confirm("{% trans %}Are you sure you want to proceed? Newly selected drive(s) will be formated and you will loose all the data on it. If you are adding the first drive, you'll get notification and you will be asked to reboot. On the reboot data will be moved from old drive to the new one. This can take some time so your next reboot will take longer. Are you sure you want to continue?{% endtrans %}"))
		return;
	let disk_boxes = document.getElementsByClassName('disk-checkbox');
    let disks = [];
    for(let i=0; i < disk_boxes.length; i++) {
        if(disk_boxes[i].checked)
            disks.push(disk_boxes[i].name);
    }

    Foris.performBackendQuery(
        null, "storage", "prepare_srv_drive", { drives: disks }
    ).then(function(data) {
        location.reload();
    });
}

$(document).ready(function() {
    $("[name=new_disk]").val(["{{ settings['old_device'].replace("/dev/","") }}"]);
    {% for drv in drives %}
        {% if 'uuid' in drv and drv['uuid'] == settings['uuid'] and settings['uuid'] %}
    $("[name=new_disk]").val(["{{ drv['dev'] }}"]);
        {% endif %}
    {% endfor %}
    $("[name=send]").prop('disabled', true);
    $("[name=new_disk]").change(function() { $("[name=send]").prop('disabled', false); });
    {%if settings['formating'] %}
    $("[name=new_disk]").prop('disabled', true);
    setInterval(function() { location.reload(); }, 10000);
    {% endif %}
{% if settings['nextcloud_configured'] and settings['nextcloud_configuring'] %}
	wait_for_nextcloud();
{% endif %}
});
</script>
{% endblock %}
