{% extends 'config/base.html.j2' %}

{% block config_base %}
<div id="page-sample-plugin" class="config-page">
    {% include '_messages.html.j2' %}

<form action="{{ request.fullpath }}" id="storage-form" method="post" class="config-form">
    <p>
    {% trans %}Here you can setup where your persistent data should be stored. If you want to use Nextcloud, LXC or other IO intensive applications, don't put them on internal flash, but always use external storage. Also make sure that your data will fit on the new drive before switching.{% endtrans %}
    </p>
    <p>
    {% trans %}Once you choose a drive, it will be formatted to Btrfs filesystem and on next reboot your <em>/srv</em> (directory where all IO intesive applications should reisde) will get moved to this new drive.{% endtrans %}
    </p>
    <span id="test-results">
    {% if settings['old_uuid'] == 'rootfs' %}
    <p class="result test-fail">
        {% trans old_device_name=settings["old_device_name"], uuid_text='rootfs' %}
        Device currently in use is {{ old_device_name }} ({{ uuid_text }}).
        {% endtrans %}
    </p>
    {% else %}
    <p class="result test-success">
        {% trans old_device_name=settings["old_device_name"], uuid_text='uuid: ' + settings['old_uuid'] %}
        Device currently in use is {{ old_device_name }} ({{ uuid_text }}).
        {% endtrans %}
    </p>
    {% endif %}
    </span>
    {% if settings['formating'] %}
    <p>
    {% trans %}Processing changes at the moment, please wait...{% endtrans %}
    </p>
    {% endif %}
    {% if drives %}
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
    <input type="hidden" name="uuid" value="{{ settings['uuid'] }}">
    <input type="hidden" name="old_uuid" value="{{ settings['old_uuid'] }}">
    <input type="hidden" name="old_device" value="{{ settings['old_device'] }}">
    <table>
        <thead>
            <tr><th></th><th>{% trans %}Device{% endtrans %}</th><th>{% trans %}Description{% endtrans %}</th><th>{% trans %}Filesystem{% endtrans %}</th><th>{% trans %}UUID{% endtrans %}</th></tr>
        </thead>
        <tbody>
            {% for drv in drives %}
                {% if "/dev/" + drv['dev'] == settings['old_device'] %}
            <tr class="button" style="display: table-row; height: 1em; line-height: 1em;">
                {% else %}
            <tr onClick='$("input[name=new_disk]").val(["{{ drv['dev'] }}"]).change();'>
                {% endif %}
                <td>
                    <input type="radio" name="new_disk" value="{{ drv['dev'] }}"/>
                </td>
                <td>{{ drv['dev'] }}</td>
                <td>{{ drv['description'] }}</td>
                <td>{{ drv['fs'] }}</td>
                <td>{{ drv['uuid'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <p>
    {% trans %}Changes to this setting will take effect on next reboot!{% endtrans %}
    </p>
    <button type="submit" name="send" class="button">{% trans %}Format &amp; Set{% endtrans %}</button>
    {% else %}
    <p>{% trans %}No drives connected, please connect a drive and refresh the page.{% endtrans %}</p>
    {% endif %}
</form>

</div>

<script>
$(document).ready(function() {
    $("[name=new_disk]").val(["{{ settings['old_device'].replace("/dev/","") }}"]);
    {% for drv in drives %}
        {% if 'uuid' in drv and drv['uuid'] == settings['uuid'] and settings['uuid'] %}
    $("[name=new_disk]").val(["{{ drv['dev'] }}"]);
        {% endif %}
    {% endfor %}
    $("[name=send]").prop('disabled', true);
    $("[name=new_disk]").change(function() { $("[name=send]").prop('disabled', false); });
    {%if settings['formating'] %}
    $("[name=new_disk]").prop('disabled', true);
    setInterval(function() { location.reload(); }, 10000);
    {% endif %}
    $('#storage-form').submit(function() {
        var c = confirm("{% trans %}Are you sure you want to change where your srv is stored? Newly selected drive will be formated and you will loose all the data on it. Once formating is done, you'll get notification and you will be asked to reboot. On the reboot data will be moved from old drive to the new one. This can take some time so your next reboot will take longer. Are you sure you want to continue?{% endtrans %}");
        return c;
    });
});
</script>
{% endblock %}
